<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start center">
        
        <mat-icon class="homeIcon">store</mat-icon>
        <span class="title">Shop</span>
    
    </div>
    <div fxLayoutGap="25" fxLayoutAlign="start center">
        <button mat-button routerLink="">Strona główna</button>
        <button mat-button routerLink="/products">Produkty</button>
        <button mat-button routerLink="/login"><span *ngIf="!isLoggedIn">Logowanie</span><span *ngIf="isLoggedIn">Profile</span></button>
        <a routerLink="/cart"><mat-icon matBadge={{cartProductCounter}} matBadgeColor="warn">shopping_basket</mat-icon></a>
    </div>
    
    </header>