<header flexLayout="column" fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
        <mat-icon color="accent" class="logoicon">store</mat-icon>
        <span class="logo">Shop panel</span>
    </div>
</header>
<div flexLayout="row" fxFlex>
    <div>
        <div fxFlex class="sidebar">
            <mat-nav-list>
                <a mat-list-item routerLink="/admin">Dashboard</a>
                <a mat-list-item routerLink="/admin/products">Product</a>
                <a mat-list-item routerLink="/admin/categories">Category</a>
                <a mat-list-item routerLink="/admin/reviews">Reviews</a>
                <a mat-list-item routerLink="/admin/orders">Orders</a>

            </mat-nav-list>
        </div>
    </div>
    <div fxFlex class="content">
        
        <router-outlet></router-outlet>
    </div>
</div>




