<form [formGroup]="formGroup" fxLayout="column" (submit)="submit()">
    <div *ngIf="loginError" class="error">Wrong login or password</div>
    <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>
    <button mat-flat-button color="primary">Login</button>

</form>