    <h2>Rejestracja</h2>
    <form [formGroup]="registerForm" fxLayout="column" (submit)="register()" class="registerForm">
        <div *ngIf="registerError" class="error">Podaj poprawne dane logowania</div>
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Hasło</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Powtórz hasło</mat-label>
            <input type="password" matInput formControlName="repeatPassword" placeholder="Powtórz hasło">
        </mat-form-field>
        <button mat-flat-button color="primary">Zaloguj</button>  
    </form>
    





