<form fxLayout="column" [formGroup]="productForm" (submit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name of product" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput rows="15" placeholder="Desc of product" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let el of categories" [value]="el.id">
            {{el.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price of product" formControlName="price">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <input matInput placeholder="Currency of product" formControlName="currency">
      </mat-form-field>

      <div fxFlexAlign="center">
        <button mat-flat-button color="primary">Submit</button>
      </div>

  </form>
  <img *ngIf="image" src="{{'/api/data/productImg/' + image}}" width="200">

  <form [formGroup]="imageForm" (submit)="uploadFile()">
    <input type="file" [accept]="requiredFileTypes" (change)="onFileChange($event)">
    <button mat-flat-button color="basic">Upload</button>
</form>